.ant-layout{
    height: 100vh;
}

.ant-layout-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-form-card{
    width: 100%;
    height: 500px;
    max-width: 350px;
}


.sign-form{
    width: 100%;
    padding-top: 30px;
}

.sign-form .sign-form-button{
    width: 100%;
    margin-top: 30px;
}
.ant-tabs-nav{
    width: 100%;
}

.ant-tabs-tab{
    width: 50%;
    text-align: center;
}