.account-title {
    padding-left: 20px;
    padding-bottom: 32px;
    padding-right: 20px;
    color: #3B3B3B !important;
}

.main-card {
    border-radius: 40px;
    background: url('../img/header-img.png'), #FECE2F;
    background-position: 120% 55%;
    background-size: 210px;
    background-repeat: no-repeat;
}

.main-card .overview-title-text {
    color: white;
}

.main-card h1 {
    color: white;
}

.standard-card {
    border-radius: 40px;
}

.overview-title-text {
    font-size: 16px;
    font-weight: 600;
    color: #3B3B3B;
}

.slick-dots ul li {
    opacity: 0.4;
}

.slick-dots ul .slick-active {
    opacity: 1;
}

@media (max-width: 1199.98px) {
    .account-name-row .account-title {
        font-size: 38px;
    }



}

@media (max-width: 991.98px) {
    .main-card {
        background-position: 140% 55%;
    }
}

@media (max-width: 767.98px) {
    .main-card {
        background-position: 100% 55%;
    }
}

@media (max-width: 575.98px) {

    .account-name-row {
        background-color: #FECE2F;
        padding-top: 12px;
    }

    .account-name-row .account-title {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 20px;
        color: white !important;
    }

    .main-cards-row {
        background-color: #FECE2F;
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
        padding-bottom: 32px;
    }

    .main-card {
        background: #FECE2F;
    }

    .overview-title-text {
        font-size: 14px;
        color: white;
    }

    .overview-title-text h1.ant-typography {
        font-size: 32px;
        color: white;
    }

    .transactions-list {
        background-color: #F9F9FB;
        padding-left: 32px;
        padding-right: 32px;
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
    }

    .main-card .ant-card-body {
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 32px;
        padding-right: 32px;
    }

    .standard-card .ant-card-body {
        padding-bottom: 0;
        padding-right: 0px;
        padding-left: 0px;
    }
}