.CalendarDay{
    border: none;
    position: relative;
    color: #3B3B3B
}

.CalendarDay__outside{
  color: #ececec;
}

.CalendarMonth_caption{
  font-size: 14px;
  color: #7D7A77;
  font-weight: 400 !important;
}

.CalendarMonth_table {
  margin-top: 5px;
}

.CalendarDay:hover{
    background: #ffdd80; 
    color: #3B3B3B;
    border: none;
}

.CalendarDay__selected_span {
  color: #3B3B3B;
  background: #f5f5f5; 
}

.CalendarDay__selected {
  background: #FECE2F;
  border: none;
  color: #3B3B3B;
}

.CalendarDay__selected:hover {
  background: #FECE2F ;
}

.CalendarDay__selected_start{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.CalendarDay__selected_end{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: #f5f5f5;
}