.add-transaction-button{
    align-items: center;
    border-radius: .5em;
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: 600;
    display: flex
}

.filter-icons-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 575.98px) {
    .add-transaction-button-container{
        width: 100% !important;
        margin-bottom: 20px;
    }

    .filter-icons-container{
        width: 100%;
    }

    .add-transaction-button{
        justify-content: center;
    }
}