.ant-checkbox-group-item {
    display: block;
    margin-right: 0;
}

.filter-btn.ant-btn-link{
    color: #3B3B3B;
    transition: all .3s ease;
}

.filter-btn.ant-btn-primary{
   transition: all .3s ease;
}

.filter-icon{
    padding-right: 5px;
    padding-left: 5px;
    line-height: 18px;
}
.filter-icon:hover{
    color: #FECE2F !important;
}

.ant-popover-inner-content > div{
    max-height: 150px;
    overflow-y: scroll;
    position: relative;
}

.date-filter .ant-popover-inner-content{
    padding: 0 !important;
}
.date-filter .ant-popover-inner-content > div{
    overflow: hidden;
    max-height: 100% !important;
}

.ant-popover-title{
    font-weight: bold;
}

.filter-mobile-modal{
    margin: 0;
    width: 100vw !important;
    top: 0;
    max-width: 100vw;
    padding: 0;
}

.filter-mobile-modal .ant-modal-content{
    border-radius: 0;
    box-shadow: none;
}

.filter-mobile-modal .ant-modal-body{
    padding:0px;
    border-radius: 0;
}

.filter-mobile-modal .DayPicker_weekHeader{
    border: none;
    padding: 0 !important;
}
.filter-mobile-modal .DayPicker__verticalScrollable, .filter-mobile-modal .ant-checkbox-group{
    padding: 20px;
    height: calc(100% - 60px);
}

.filter-mobile-modal .mobile-top-arrow{
    margin-top: 30px;
}

.filter-mobile-modal .CalendarMonth_caption{
    padding-top: 30px;
}

.filter-mobile-modal .filter-custom-footer{
    border-top: none;
    border-radius: 0;
    display: flex;
    height: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.filter-mobile-modal .filter-custom-footer button{
    width: 50%;
    height: 100%;
}

.filters-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filters-container .filter-group{
    margin-left: 20px;
    margin-right: 20px;
}

.category-filter-select .ant-select-selection{
    border: none;
    outline: none;
    box-shadow: none;
}

.category-filter-select {
    width: 100%;
}

.category-filter-select .ant-select-selection__rendered{
    margin: 0;
}

.category-filter-select .ant-select-selection__placeholder{
    color: #7d7a77;
    margin-left: 0;
    margin-top: -7px
}

.clear-filters-btn{
  margin-left: 10px;
} 

.clear-filters-btn i {
    font-size: 18px;
}

@media (max-width: 1199.98px) {
    .filters-container{
        justify-content: flex-start;
    }

    .clear-filters-btn{
        margin-left: 0;
    }

    .filter-btn{
        padding: 0;
        margin-right: 10px;
        opacity: 0.4;
    }

    .filter-btn.filter-active{
        opacity: 1;
    }

    .mobile-filter-btn.secondary-custom-btn{
        margin-right: 0;
        color: #7D7A77;
    }


    .mobile-filter-btn{
        box-shadow: none;
        color: white;
        font-weight: 800;
        border: none;
        outline: none;
        margin-right: 10px;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }

    .mobile-filter-btn:hover{
        color: white;
    }

    .mobile-filter-btn.active, .mobile-filter-btn:focus{
        outline: none;
        box-shadow: none;
        border: none;
    }

    .mobile-filter-btn::after{
        display: none;
    }

    .mobile-filter-btn.custom-dates:hover{
        color: #3B3B3B
    }

    .filter-group{
        width: 100%;
    }

    .filter-group-category{
        order: 1;
        padding-bottom: 20px;
        margin: 0 !important;
    }

    .category-filter-mobile-btn-container{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
        overflow-x: scroll;
    
    }
    .filter-group-date{
        order: 2
    }

}


@media (max-width: 575.98px) {

    .filter-group-category{
        padding-bottom: 35px;
    }
}