.income-outcome-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.income-outcome-card{
    width: calc(50% - 16px);
    display: flex;
    align-items: center;
}

.income-outcome-card .ant-card-body{
    width: 100%
}

.income-outcome-title-text{
    color: #7D7A77;
    font-size: 16px;
}

@media (max-width: 1199.98px) {
}

@media (max-width: 767.98px) { 
    .income-outcome-card{
        width: calc(50% - 6px);
    }
}

@media (max-width: 575.98px) {
    .income-outcome-container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .income-outcome-card{
        background-color: #FECE2F;
        width: 50%;
    }

    .income-outcome-title-text{
        color: white;
        font-size: 14px;
        font-weight: 600;
    }

    .income-outcome-card .ant-card-body{
        padding-left: 0;
    }

    h4.income-outcome-value.ant-typography{
        color: white;
        padding-right: 20px;
    }
}