.mobile-header {
  display: none;
}

.custom-sidebar{
  height: 100vh;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.custom-sidebar .ant-menu-item a, .ant-menu-submenu .ant-menu-submenu-title{
  display: flex;
  align-items: center;
  color: #3B3B3B;
}

.ant-menu-submenu .ant-menu-submenu-title span i {
  padding-right: 5px;
  font-size: 18px;
}

.ant-menu-submenu .ant-menu-item a{
  padding-left: 5px;
}

.custom-sidebar .ant-menu-item span{
  color: #3B3B3B;
  padding-top: 2px;
  padding-left: 5px;
}

.custom-sidebar .ant-menu-item i{
  color: #3B3B3B;
  font-size: 18px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: white;
  font-weight: bold;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected i, .ant-menu-submenu-selected .ant-menu-submenu-title span i{
  color: #FECE2F;
}

.ant-menu-item .money-transfer-icon{
  opacity: 0.4;
}

.money-transfer-icon:hover{
  opacity: 1;
}

.money-transfer-icon span{
  font-size: 18px;
  color: white !important;
}


@media (max-width: 1199.98px) {
  .custom-sidebar {
    display: none;
  }

  .mobile-header {
    display: flex;
    padding: 0;
    justify-content: space-between;
    height: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
  }

  .mobile-sidebar-toggler {
    color: rgba(0, 0, 0, 0.85);
    font-size: 30px;
    padding: 0;
    line-height: 30px;
    height: 30px;
    width: 30px
  }

  .mobile-sidebar-toggler .uil::before {
    margin: 0
  }


  .custom-mobile-sidebar .ant-drawer-content-wrapper {
    width: 50% !important;
  }

  .custom-mobile-sidebar .ant-drawer-body {
    height: 100%;
    padding: 0;
  }
}

@media (max-width: 575.98px) {
  .custom-mobile-sidebar .ant-drawer-content-wrapper {
    width: 85% !important;
  }

  .mobile-sidebar-toggler {
    color: white;
  }

  .mobile-header {
    background-color: #FECE2F;
  }

}