.custom-tooltip{
    background-color: white;
    font-size: 12px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.chart-title{
    padding-left: 20px;
}