.transaction-card {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  border-radius: .5em;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  background-color: white;
}

.transaction-card .transaction-info-left {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.transaction-card .transaction-info-right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  height: 100%;
  padding-right: 24px;
}

.transaction-card .transaction-interaction-icon {
  position: absolute;
  background-color: white;
  height: 25px;
  width: 25px !important;
  min-width: auto;
  font-size: 14px;
  right: 12px;
  box-shadow: -6px -6px 6px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, .03);
    border-radius: 50%;
}

.transaction-card .transaction-interaction-icon button {
  color: #7D7A77;
  height: 100%;
  min-width: 100%;
}

.transaction-card .transaction-interaction-icon.transaction-edit-icon button:hover {
  color: #ffd32a 
}

.transaction-card .transaction-interaction-icon.transaction-delete-icon button:hover {
  color: #ff5e57;
}


.transaction-card .transaction-interaction-icon.transaction-edit-icon {
  top: 5px
}

.transaction-card .transaction-interaction-icon.transaction-delete-icon {
  bottom: 5px
}

.transaction-info-left .transaction-description , .transaction-info-right .transaction-amount {
  font-weight: bold;
  color: #3B3B3B;
}

.transaction-info-left .transaction-account , .transaction-info-right .transaction-date {
  font-size: 12px;
  margin-top: auto;
}

.ant-avatar-string {
  width: 100%;
  height: 100%;
}

.transaction-modal {
  top: 5vh;
  width: 600px
}

.transaction-modal .ant-modal-content {
  height: 90vh;
}

.transaction-modal .ant-modal-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.transaction-modal-desc {
  outline: none;
  cursor: text;
  border: none;
  font-weight: bold;
}

.transaction-modal-properties-container {
  padding-top: 20px;
}

.transaction-modal-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ant-typography input {
  padding: 0 !important
}

.transaction-modal-property {
  display: flex;
  padding-bottom: 5px;
  height: 37px;
  align-items: center;
}

.transaction-modal-property-name {
  width: 30%;
  color: #3B3B3B;
}

.transaction-modal-property-value {
  color: rgba(0, 0, 0, 0.65) !important;
  width: 70%;
  text-align: left;
  padding: 0;
}

.date-edit .ant-popover-inner-content {
  padding: 0 !important;
}

.date-edit .ant-popover-inner-content>div {
  overflow: hidden;
  max-height: 100% !important;
}

.antd-input-reset .ant-select-selection.ant-select-selection--single,
.antd-input-reset {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.antd-input-reset .ant-select-selection.ant-select-selection--single .ant-select-selection__rendered,
.antd-input-reset .ant-input-number-input {
  margin: 0;
  padding: 0;
}

@media (max-width: 575.98px) {
.transaction-modal{
  margin: 0;
  width: 100vw !important;
  top: 0;
  max-width: 100vw;
  padding: 0;
}

.transaction-modal-property-name{
  width: 40%;
}

.transaction-modal-property-value{
  width: 60%;
}

.transaction-modal .ant-modal-content{
  height: auto;
  border-radius: 0;
  box-shadow: none;
}
  
  .transaction-modal .ant-modal-body{
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
