@import './style/custom-antd.css';

::-webkit-scrollbar {
  display: none;
}

#element::-webkit-scrollbar {
  display: none;
}

.ant-layout {
  background: #F9F9FB;
}

.ant-layout-header {
  background: #F9F9FB;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.main-container {
  background-color: #F9F9FB;
  padding: 32px;
  height: 100% !important;
}

.ant-btn-primary{
  text-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}


h1,
h2,
h2,
h3,
h4 {
  margin: 0 !important;
}

body {
  font-family: 'Rubik', sans-serif;
  text-rendering:optimizeLegibility;
}

.secondary-custom-btn{
  background-color: #F9F9FB;
  color: #7D7A77;
  box-shadow: none;
  font-weight: 800;
  border: none;
  outline: none;
  margin-right: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.secondary-custom-btn:hover{
  color: #7D7A77;
  background-color: #F9F9FB;
}

.secondary-custom-btn.active, .secondary-custom-btn:focus{
  outline: none;
  box-shadow: none;
  border: none;
  color: #7D7A77;
}

.secondary-custom-btn::after{
  display: none;
}

@media (max-width: 575.98px) {
  .main-container.ant-layout {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .main-container, .ant-layout {
    background-color: white;
  }

}